<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>แก้ไขข้อมูล</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="formEditPage col-md-6 offset-md-3">


        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
              aria-selected="true">แก้ไขข้อมูลส่วนตัว</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-password-tab" data-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-password"
              aria-selected="false">เปลี่ยนรหัสผ่าน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
              aria-selected="false">จัดการบัญชี</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <form>
              <div class="form-group">

                <input type="username" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="ชื่อ">
              </div>
              <div class="form-group">

                <input type="telephone" class="form-control" id="inputTelephone" placeholder="เบอร์โทรศัพท์">
              </div>

              <button type="submit" class="btn btn-success btn-block">ยืนยัน</button>
            </form>
          </div>

          <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
            <form>
              <div class="form-group">
                <!-- <label for="current-password">รหัสผ่านเดิม</label> -->
                <input type="text" class="form-control" id="current-password" placeholder="รหัสผ่านเดิม">
              </div>

              <div class="form-group">

                <input type="text" class="form-control" id="new-password" placeholder="รหัสผ่านใหม่">
              </div>

              <div class="form-group">

                <input type="text" class="form-control" id="confirm-new-password" placeholder="ยืนยันรหัสผ่านใหม่">
              </div>
              <button type="submit" class="btn btn-success btn-block">ยืนยัน</button>

            </form>
        </div>


          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

            <div class="row">
              <div class="col-image">
                <img src="image/mastercard.png">
              </div>
            </div>
            <br>




            <div style="text-align:center;">

              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">เพิ่มบัญชี</button>

            </div>


            

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title text-xs-center">เพิ่มบัญชีการชำระเงิน</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                      <label for="name">ชื่อผู้ถือบัตร:</label>
                      <input type="text" class="form-control" id="name">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your privacy infomation with anyone else.</small>
                    </div>

                    <div class="form-group">
                      <label for="name">เลขบัตร:</label>
                      <input type="text" class="form-control" id="idcard">
                    </div>

                    <div class="row">

                      <div class="col-xs-7 col-md-6">
                        <div class="form-group">
                          <label for="name">เดือนที่หมดอายุ:</label>
                          <input type="text" class="form-control" id="expireMonth">
                        </div>
                      </div>
                      <div class="col-xs-5 col-md-6 pull-right">
                        <div class="form-group">
                          <label for="name">ปีที่หมดอายุ:</label>
                          <input type="text" class="form-control" id="expireYears">
                        </div>
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="name">CVV:</label>
                      <input type="text" class="form-control" id="cvv">
                    </div>
                  <br>
                  </div>

                  <div class="modal-footer">
                     <button type="submit" class="btn btn-success btn-block">ยืนยัน</button>
                  </div>

                </div>
              </div>
            </div>



          </div>
      </div>
   </div>
</div>



<style type="text/css">

.form-control{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #ffff;
    width: 100%;
    border: 5;
    margin: 0 0 15px; 
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
    


    .formEditPage {
      margin-top: 400px;
    }

    .col-image {
      margin: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .modal {
      margin-top: 200px;
    }
    
    .modal-body{
      background-color: rgba(228, 228, 228, 0.5);
    }
    
    .modal-header{
      background-color: rgba(163, 163, 163, 0.5);
    }

    .modal-footer{
      background-color: rgba(163, 163, 163, 0.5);
    }

    .formEditPage{
      background-color: rgba(228, 228, 228, 0.5);
      height: auto;
      width: auto;
      border-radius: 5px;
    }


    


      


    /* .btn{
  background-color: #4caf50;
  border: none;
  outline: 0; 
}
.btn:hover{
  background-color: #0a910c;
  color: #ffff;
  border: none;
  outline: 0; 
  transition: 0.9s;
} */
  </style>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>